<h1><%= @sauna.name %>の編集画面</h1>

<%= form_with model: @sauna, url: admin_saunas_update_path, method: :patch do |f| %>
<p>店名：<%= f.text_field :name %></p>
<p>料金：<%= f.text_field :price %>円</p>
<p>営業時間：<%= f.text_field :business_hour %></p>
<p>サウナの室内温度：<%= f.text_field :room_temperature %>度</p>
<p>水風呂の温度：<%= f.text_field :water_temperature %>度</p>
<p>都道府県：<%= f.text_field :prefecture %></p>
<p>住所：<%= f.text_field :address %></p>
<%= f.submit '保存' %>

<% end %>
<%= link_to "削除", admin_saunas_destroy_path(@sauna), method: :delete %>