<h1><%= @sauna.name %>の詳細ページ</h1>

<p>サウナID：<%= @sauna.id %></p>
<p>店名：<%= @sauna.name %></p>
<p>料金：<%= @sauna.price %>円</p>
<p>サウナの室内温度：<%= @sauna.room_temperature %>度</p>
<p>水風呂の温度：<%= @sauna.water_temperature %>度</p>
<p>都道府県：<%= @sauna.prefecture %></p>
<p>住所：<%= @sauna.address %></p>


<%= link_to "編集", admin_saunas_edit_path %>