<h1>会員の編集だよ〜〜！</h1>

<%= form_with model: @user, url: admin_users_update_path, method: :patch do |f| %>

<p>名前：<%= f.text_field :last_name %><%= f.text_field :first_name %></p>
<p>フリガナ：<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
<p>郵便番号：<%= f.text_field :postcode %></p>
<p>住所：<%= f.text_field :address %></p>
<p>電話番号：<%= f.text_field :telephone_number %></p>
<p>生年月日：<%= f.text_field :birthday %></p>
<p>メールアドレス：<%= f.text_field :email %></p>

 <%= f.submit '保存' %>

<% end %>