<h1><%= @user.last_name %><%= @user.first_name %>さんの詳細ページだよー</h1>


<table>
    <tr>
        <td>名前</td>
        <td><%= @user.last_name %><%= @user.first_name %></td>
    </tr>
    <tr>
        <td>フリガナ</td>
        <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
    </tr>
    <tr>
        <td>郵便番号</td>
        <td><%= @user.postcode %></td>
    </tr>
    <tr>
        <td>住所</td>
        <td><%= @user.address %></td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td><%= @user.telephone_number %></td>
    </tr>
    <tr>
        <td>生年月日</td>
        <td><%= @user.birthday %></td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
    </tr>
</table>
<%= link_to "編集する", admin_users_edit_path(@user) %>