<h1>マイページ</h1>

<p>名前：<%= @user.last_name %><%= @user.first_name %></p>
<p>フリガナ：<%= @user.last_name_kana %><%= @user.first_name_kana %></p>
<p>郵便番号：<%= @user.postcode %></p>
<p>住所：<%= @user.address %></p>
<p>電話番号：<%= @user.telephone_number %></p>
<p>生年月日：<%= @user.birthday %></p>
<p>メールアドレス：<%= @user.email %></p>

<%= link_to "編集する", public_users_infomation_edit_path %>