<!DOCTYPE html>
<html>
  <head>
    <title>ExtremeSauna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
   <% if user_signed_in? %>
     <%= link_to "マイページ", public_users_my_page_path %>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
   <% elsif admin_signed_in? %>
     <%= link_to "会員一覧", admin_users_path %>
     <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
   <% else %>
     <p>About</p>
     <%= link_to "ログイン", new_user_session_path %>
     <%= link_to "新規登録", new_user_registration_path %>
   <% end %>
  <body>
    <%= yield %>
  </body>
</html>
